[submodule "lib/heatshrink"]
	path = lib/heatshrink
	url = https://github.com/Milk-Cool/heatshrink-flippulator.git
[submodule "lib/mlib"]
	path = lib/mlib
	url = https://github.com/Milk-Cool/mlib-flippulator.git
